    /* 
    Document   : css1
    Created on : 22 oct. 2014, 14:06:38
    Author     : Florian
    Description:
        Purpose of the stylesheet follows.
*/
/* definition du css lié au fond du site*/
html {
    margin:0;
    padding:0;
    font-family: Corbel, Comic Sans Ms;
    background-image: url(images/background.jpg);
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
}
body{
    width:70%;
    margin: auto;
}

/*definition du css de l'en-tête*/

nav{
    position:relative;
    font-size:150%;
    margin-top:20%;
}
nav ul {

    background-color:blue;
    border-radius : 8px 8px 8px 8px;
    text-align:center;
}
nav ul, nav ul ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align : center;
    background-color:lightseagreen;
    
}
nav ul li {
    display: inline-block;
    position : relative;
    padding:10px 20px 10px 20px;
    
    
}
nav ul ul li {
    width:100px;
}
nav ul a {
    text-decoration: none;
	color:white;
        display:block;
        
}
nav ul a:hover {
    color:black;
    
}
nav ul ul a:hover{
    font-weight: bold;
}
nav ul ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    max-height:0;
    text-align: left;
    border-radius : 0 0 8px 8px;
    display:none;
}
nav ul li:hover, nav ul li:hover ul li:hover{
    background:#0090b7;
}
nav ul li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    max-height : 25em;
    display:block;
    z-index:3;
}
nav ul li ul {
    position : absolute;
    left:0px;
    top:100%;
    max-height:0;
    text-align:left;   
}
section{
    margin-top:15px;
    position:relative;
    clear:both;
    border:2px ridge grey;
    background-color:darkgrey;
    padding:2%;
}
retour a, retour a:visited{
    text-decoration: none;
    color: black;
    width: 80%;
    text-align: center;
}
copyright{
    font-weight: bold;
    float: right;
    text-decoration: underline;
    color: black;
    float: right;
    text-align: center;
}


/* css des tableaux */
table{
    border-collapse: collapse;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
td{
    border:3px solid navy;
    padding:10px;
    width:100px;
}
table img{
    width:50px;
}


section a:visited{
    color:red;
}
section a:hover{
    font-weight:bold;
}
 /*css servant au lien vers les jeux et vers le detail */
.lienbasique, .lienbasique:visited, .nomnew {
    text-decoration: underline;
    color: saddlebrown;
    text-decoration-color: red;
    display: inline-block;
}
.lienright, .lienright:visited{
    float:right;
}

.cache {
    visibility: hidden;
}

.cachepanier{
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-top-width: 0;
    font-size: 12pt;
    font-weight: bold;
}

.titre_case{
    text-decoration: underline;
    font-size: 15px;
}

.bienvenue{
    text-decoration: none;
}

.para_acceuil{ 
    font-size: 25px;
    text-align: center;
}

#connection, #inscription{
    font-size: 10pt;
    font-family: Calibri;
}

input{
    background-color: cadetblue;
    color: white;
}

.hidden{
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-top-width: 0;
}

#connection, #inscription{
    text-align: center;
} 

form#formconnect label{
    display:inline-block;
    width: 20%;
}

legend{
    margin-left: 48%;
    font-size : 150%;
}

form#forminscription label, form#forminscription input{
    display:inline-block;
    width: 20%;
}

#datereservation{
    display:none;
}